body {
  background-color: #F0FFF0;
}

.kader {
  background-color: #48D1CC;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

h1, p {
  color: #FFFFFF;
}

h1, p {
  text-align: center;
}

h2 {
  margin-top: 60px;
}

h3 {
  margin-top: -15px;
  font-family: 'Montserrat', sans-serif;
}

h2, h3 {
  margin-left: 50px;
}

p, .voettekst, li {
  font-family: 'Open Sans Condensed', sans-serif;
}

p, li {
  font-size: 14pt;
}

li {
  margin-left: 60px;
}

.voettekst {
  margin-top: 70px;
  margin-bottom: -90px;
  font-size: 10pt;
  text-align: center;
}
