body {
  background-color: #E0FFFF;
}

.kader {
  background-color: #6A5ACD;
  width: 100vw;
  height: 300px;
  position: relative;
  margin-left: -8px;
  margin-top: -40px;
}

.lijn {
  border-top: 1px solid #9370DB;
  width: 100%;
  margin-top: 40px;
  opacity: 40%;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

h1, p {
  color: #FFFFFF;
  text-align: center;
}

h1 {
  padding-top: 50px;
}

h2 {
  color: #483D8B;
  margin-top: 60px;
  margin-left: 50px;
}

h3 {
  color: #9370DB;
  margin-top: -15px;
  margin-left: 70px;
  font-family: 'Montserrat', sans-serif;
}

ol {
  color: #483D8B;
}

p, .voettekst, li {
  font-family: 'Open Sans Condensed', sans-serif;
}

p, li {
  font-size: 14pt;
}

li {
  margin-left: 60px;
}

.voettekst {
  color: #9370DB;
  margin-top: 70px;
  margin-bottom: -90px;
  font-size: 10pt;
  text-align: center;
}
